<import from="@tabler/icons-webfont/dist/tabler-icons.min.css"></import>
<div class="summary-item-container">
  <div class="text-content">
    <p>Summary — ${summary.summaryContent}</p>
  </div>
  <div class="button-group">
    <button class="icon-button edit-button" title="Edit" aria-label="Edit">
      <i class="ti ti-pencil-minus"></i>
    </button>
    <button class="icon-button provenance-button" title="History" aria-label="History">
      <i class="ti ti-history"></i>
    </button>
    <button class="icon-button trash-button" title="Delete" aria-label="Delete">
      <i class="ti ti-trash"></i>
    </button>
  </div>
</div>